body {
  font-family: "Caveat Brush", cursive;
  margin: 0;
  background-image: url(img/Bild_1\ adjusted.png);
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(242, 242, 242);
}

.parent {
  background-color: rgba(184, 170, 148, 0.2);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.child:nth-child(1) {
  font-size: 35px;
  margin-top: 25px;
}

.child:nth-child(2) {
  font-size: 20px;
}

fieldset {
  border: none;
  padding: 0 8% 0 8%;
  margin: 0;
}

label {
  display: block;
  margin-top: 0.5em;
}

input,
textarea {
  background-color: rgba(199, 185, 160, 0.7);
  border: 1px solid rgb(242, 242, 242);
  width: 95%;
  margin-top: 0.15em auto 0 auto;
  font-family: "Caveat Brush", cursive;
  font-size: 22px;
  color: rgb(242, 242, 242);
}

textarea::placeholder {
  color: rgb(242, 242, 242);
  font-size: 20px;
}

input[type="submit"] {
  background-color: rgba(199, 185, 160, 0.8);
  border: 1px solid rgb(242, 242, 242);
  color: rgb(242, 242, 242);
  display: block;
  width: max-content;
  margin: 1.5em auto 0 auto;
  font-family: "Caveat Brush", cursive;
  padding: 0.5em;
}

@media only screen and (max-height: 680px) {
  .parent {
    gap: 15px;
  }
}
